body {
   background-image: url('/back1.jpg');
   background-size: cover;
   background-attachment: fixed;
   background-color: #000;
}

@media screen and (max-width: 992px) {
   body {
      background-image: url('/backmob.jpg');
      background-size: cover;
   }
}.bgcolor {
  font-weight: 800;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
