body {
   background-image: url('../public/back1.jpg');
   background-size: contain;

   

}

@media screen and (max-width: 992px) {
   body {
      background-image: url('../public/backmob.jpg');
      ;
   }
 }